### Maven ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

### Wrapper ###
.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### STS / Eclipse ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Sistema ###
.DS_Store

### Logs ###
*.log

### Arquivos de ambiente ###
.env
.env.*
**/.env
**/.env.*

### Banco / SQL ###
*.sql
*.sql.*
**/*.sql

### Kotlin (se usar) ###
.kotlin/